.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--foreground-bright);
    animation-name: bgFadeIn;
    animation-duration: 1s;
}
.banner .bg {
    background-image: url('../img/homepagebanner.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    animation-name: bgFadeIn;
    animation-duration: 1s;
    z-index: -1;
}
.banner h1 {
    font-family: 'Spectral', serif;
    font-size: 75px;
    margin-bottom: 40px;
    animation-name: mainFadeIn;
    animation-duration: 1s;
}
.banner h3 {
    font-size: 25px;
    margin-bottom: 10px;
    animation-name: mainFadeIn;
    animation-duration: 1s;
}
.banner button {
    padding: 13px 20px;
    border: none;
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;
    background: var(--foreground-bright);
    font-size: 17px;
    transition: .4s;
    border-radius: 10px;
    animation-name: mainFadeIn;
    animation-duration: 1s;
}
.banner button:hover {
    background: var(--foreground-bright-alt);
    cursor: pointer;
    transition: .3s;
}

/* Animations */
@keyframes mainFadeIn {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes bgFadeIn {
    from { transform: scale(1.1); }
    to { transform: scale(1); }
}